go 1.26.0

use (
	./contracts
	./runtimes/apigateway
	./runtimes/cli
	./runtimes/clientgateway
	./runtimes/core
	./runtimes/durablejob
	./runtimes/email
	./runtimes/notification
	./runtimes/realtimegateway
	./shared
	./test
)
